.p-inputtext {
  // background-color:yellow !important;
  border-width: 1px;
  background-color:$background-light;


}


.p-inline-message-error {
  color: red;
  font-size:0.6rem;
  margin-top: 0.1rem;
  padding-left: 0.5rem;
  
}