<div class="app-card-container">
  <div class="app-card-header">
    <span>Lorem ipsum</span>
  </div>
    <div class="app-card-main">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et diam lectus. Proin eu ultrices lectus. 
    Vestibulum fermentum dapibus ipsum, non posuere ligula commodo nec. 
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
    Vivamus sit amet feugiat dolor, id tempus massa. Nunc vestibulum ut nisl at sollicitudin. 
    </div>
  <div class="app-card-footer"></div>
</div>