@import './base-vars';

@mixin input-based {

  [appInput] {
    width:100%;
  }
  .component-container {
    position:relative;
    display:flex;
    // font-family: $input-base-font-family;
    // background-color: $input-base-background-color;
    border-width:$input-base-border-width;
    border-color:$input-base-border-color;
    border-style:$input-base-border-style;
    > app-input-base {
      width:100%;
    }
  }
    .component-label-container {
      position:relative;
      width:100%;
      flex:1;
      height:$input-base-height;
      padding: $input-base-padding;

      @extend .flex-center-y;
    
      input {
        outline:none;
        height:100%;
        width:100%;
        border:0;
        background-color:transparent;
        // letter-spacing:1px;
        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
          color: $primary;
          font-size:$input-base-label-font-size;
          opacity: 1; /* Firefox */
          
        }
        
      }

      label {
        pointer-events:none;
        position: absolute;
        letter-spacing:1px;
        color: $primary;
        transition:$input-base-label-transition;
        font-size:$input-base-label-font-size;
        left:$input-base-left-space;
        @extend .absolute-y;
      }
    }
    
    .component-scroll-container {
      position:relative;
      overflow:hidden;
      width:$input-base-height;
      height:$input-base-height;
    
    
      .component-icon-container {
        position:absolute;
        right:0;
        width:$input-base-height;
        height:$input-base-height * 3;
        top: -2 * $input-base-height;
        transition: top $input-base-icon-transition-speed $input-base-icon-transition-style;
        border-width:0px 0px 0px 1px;
        border-style:solid;
        border-color:$input-base-border-color;
        font-size: $input-base-label-font-size;
        @extend .flex-column;
        @extend .flex-center-xy;
    
        .component-icon {
          width:$input-base-height;
          height:$input-base-height;
          @extend .flex-center-xy;
        }
      }
  }

  &.is-filled {
    .component-label-container {
      label {
        left:0;
        top: -0.6rem;
        margin-bottom:0;
        font-size: $input-base-filled-label-size;
        @extend .fade-top;
      }
    }
  }

  &.is-touched.is-blurred:not(.is-valid).is-animated {
    .component-container {
      border-color:$input-base-danger;
      color: $input-base-danger;
    }

    .component-icon-container {
      position: absolute;
      top: - $input-base-height + $input-base-height;
      border-color:$input-base-danger;
    }
  }

  &.is-valid.is-touched.is-animated {
    .component-container {
    border-color: $input-base-success;
    }

    .component-icon-container {
      top: - $input-base-height;
      border-color:$input-base-success;
    }
  }

  &.is-valid.is-focused.is-animated {
    .component-container {
      border-color:$success;
    }
}

}