@import './button-vars';

@mixin button {
  letter-spacing: 1px;
  border: $button-border;
  padding:$button-padding;
  margin:$button-margin;
  font-size: $button-font-size;
  text-transform: $button-text-transform;
}

app-button{
  button {
    color: $button-primary-color;
  }


  &.button {
      &-outline {
        button {
          background:$button-transparent-color;
          color:$button-primary-color;
        @include button;
    
        &:hover {
          background:$button-primary-color;
          color:$button-secondary-color;
        }
      }
    }
      &-solid {
        button {
          background-color:$button-primary-color;
          color: $button-secondary-color;
          @include button;
      
          &:hover {
            background:$button-secondary-color;
            color:$button-primary-color;
          }
        }
      }

      &-round {
        button {
          border-radius:50%;
          @extend .flex-center-xy;
        }
        &.button-small {
          button {
          width:1.8rem;
          height:1.8rem;
          font-size:0.7rem;
          }
        }
        &.button-medium {
          button {
          width:2.2rem;
          height:2.2rem;
          font-size:0.9rem;
          }
        }
        &.button-large {
          button {
          width:3rem;
          height:3rem;
          font-size:1rem;
 
 }       }

      }

  }
}