// button
$button-primary-color: lightgray;
$button-secondary-color: white;
$button-transparent-color: transparent;
$button-border: 1px solid lightgray;
$button-padding: 0.3rem 0.5rem;
$button-margin: 0.2rem;
$button-font-size: 0.6rem;
$button-text-transform: uppercase;