$checkbox-width: 1.25rem;
$checkbox-background-empty: var(--background-light);
$checkbox-background-selected:gold;
$checkbox-icon-color: white;
$checkbox-border: 1px solid lightgrey;
$checkbox-border-radius: 3px;
$checkbox-margin: 0;
$checkbox-font-size: 0.6rem;
$checkbox-transition: top 0.2s ease-in-out;