@import './base-vars';
@import './dropdown-vars';

@mixin option-selected {
  background-color:$dropdown-option-selected-background-color;
  color: $dropdown-option-selected-color;
}

@mixin dropdown-options {
@include input-based;
[appList] {
  position:absolute;
  width:100%;
}

 &.is-focused {
    cursor: pointer;
    > .app-dropdown > .app-dropdown-pointer, .dropdown-options {
      visibility:visible;
      pointer-events:all;
      margin-bottom:0;
    }
  }

.dropdown-options {
  width:100%;
  visibility:hidden;
  pointer-events:none;
  position:absolute;
  z-index:3000;
  background-color: $dropdown-background-color;
  outline: $dropdown-outline;
  top:$dropdown-top-space;
  // margin-top: $dropdown-border-width * 2;   //adjust for input border
  @extend .flex-column;
    

  span {
    border-style: solid;
    letter-spacing:1px;
    border-color: $dropdown-option-border-color;
    border-width: $dropdown-border-width $dropdown-border-width 0px $dropdown-border-width;
    background-color: $dropdown-option-background-color;
    color:$dropdown-option-color;
    padding: $dropdown-option-padding;
    font-size:$dropdown-option-font-size;
    height:$input-base-height;

    &:first-of-type {
      border-width: 0px $dropdown-border-width;
    }

    &:last-of-type {
      border-width: $dropdown-border-width;
    }

    &.selected {
      @include option-selected;
    }
    &:hover {
      @include option-selected;
    }
  }
}

}

app-dropdown, app-auto-complete {
  @include dropdown-options()
}

app-table {
  app-dropdown, app-auto-complete {
    @include dropdown-options()
  }
  
}