app-dropdown {
@include input-based;

 &.is-focused {
    cursor: pointer;
    > .app-dropdown > .app-dropdown-pointer, .app-dropdown-options {
      visibility:visible;
      pointer-events:all;
      margin-bottom:0;
    }
  }



.app-dropdown-options {
  width:100%;
  visibility:hidden;
  pointer-events:none;
  position:absolute;
  top:2.5rem;
    @extend .flex-column;
    

  span {
    border-style: solid;
    border-color: gold;
    border-width: 1px 1px 0px 1px;
    background-color: transparent;
    color:black;
    padding: 0.5rem 1.5rem;
    font-size:0.8rem;
    letter-spacing:1px;
    height:2.5rem;

    &:first-of-type {
      border-width: 0px 1px;
    }

    &:last-of-type {
      border-width: 1px;
    }

    &.selected {
      background-color: seashell;
      color:black;
    }
    &:hover {
      background-color:seashell;
      color: black;
    }
  }

}
}