$dropdown-border-width: 1px;
$dropdown-background-color: white;
$dropdown-outline: 1px solid lightgrey;
$dropdown-top-space: $input-base-height;
$dropdown-option-background-color: white;
$dropdown-option-color: black;
$dropdown-option-border-color: lightgrey;
$dropdown-option-selected-background-color: seashell;
$dropdown-option-selected-color: black;
$dropdown-option-padding: 0.5rem 1.5rem 0.5rem 0.5rem;
$dropdown-option-font-size: 0.8rem;