body {
  background-color: $background;
}

.fade {
  &-all {
    transition : all 300ms ease-out;
  };
  &-border {
    transition : border 300ms ease-out;
  };
  &-color {
    transition : color 300ms ease-out;
  }

  &-top {
    transition: all 300ms ease-out;
    transition-property: top;
  }
}

.absolute {
  position:absolute;
    &-x {
      @extend .absolute;
      left: 50%;
      transform: translate(-50%, 0);
    }
    &-y {
      @extend .absolute;
      top: 50%;
      transform: translate(0, -50%);
    }
    &-xy {
      @extend .absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
}

.flex {
  display:flex;
    &-column {
      @extend .flex;
      flex-direction: column;
    }
    &-center {
      &-xy {
        @extend .flex, .flex-center-x, .flex-center-y;
      }
      &-x {
        @extend .flex;
        justify-content: center;
      }
      &-y {
        @extend .flex;
        align-items: center;
      }
    }
}

.no-pointer {
  pointer-events: none;
}

.disabled {
  pointer-events:none;
  opacity:0.5;
  filter: grayscale(1);

}